<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">

<% include ./partials/_header %>
<br>
  <% if (username) {%>
    <h2><a href='/urls/new'>Create New Tiny URL</a></h2>

<br>
  <h2>My URLs</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ShortURL</th>
      <th scope="col">LongURL</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% for (var url in urls) { %>
    <% const urlPath = "/urls/" + urls[url].shortURL%>
    <% const deletePath = "/urls/" + urls[url].shortURL + "/delete" %>
    <tr>
      <th scope="row"><%= urls[url].shortURL %></th>
      <td><%= urls[url].longURL %></td>
      <td><form class="form-inline" method="POST" action="<%=deletePath%>">
          <button type="submit" name="shortURL" value="<%=urls[url].shortURL%>">Delete</button>
        </form></td>
      <td><a href=<%=urlPath%>>Edit</a></td>
    </tr>
    <% } %>
  </tbody>
</table>


<% } else { %>
  <p>You need to login to see your URLs</p>
  <% } %>

</body>
</html>

